.facesContainer {
    display: flex;
}

.face:not(:first-child) {
    margin-left: 30px;
}

.face {
    background: #f3f3f3;
    height: 170px;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
}

.faceImg {
    margin-top: 10px;
    height: 120px;
}

.faceName {
    margin-bottom: 10px;
}