.container {
  display: inline-block;
  width: 100%;
}

.activityContainer {
  border-radius: 0;
}

.activityContainer > div:last-child {
  cursor: pointer;
  padding: 0;
}

.activityContainer > div:last-child:hover {
  background-color: #ebf2f9;
  color: #3b73af;
}

.activityHeader {
  font-size: 14px;
  color: #777;
}

.activityAuthor {
  font-weight: bold;
  cursor: pointer;
}

.activityFooter {
  margin: 0 -15px -15px -15px;
}

.commentExpander {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.commentList {
  width: 100%;
  border-color: #cfdbe2;
  border-top: none !important;
}

.commentList > div {
  display: flex;
  flex-direction: column;
}

.collapse {
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #f5f5f5;
}

.editor {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  display: inline-block;
  width: 99%;
  margin-left: auto;
  padding: 2px 7px;
  margin-top: 5px;
  background: white;
  margin-bottom: 20px;
}

.commentLabel {
  position: absolute;
  color: #999;
}