.panel {
  color: #929292;
}

.panel:hover {
  background: #fafbfc;
}

.activity span:first-child {
  color: #555;
}

.tail {
  float: right;
  display: flex;
}

.activity {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}

.title {
  float: left;
  display: flex;
  flex-direction: column;
}

.title h4 {
  font-weight: 700;
  color: #555;
}

.gradePercentage {
  margin-left: 65px;
  margin-top: 21px;
}