.landmarkHeader {
    clear: both;
    text-align: center;
    font-size: 19px;
    color: #333333;
    font-weight: normal;
    border-bottom: 1px solid;
    height: 13px;
}

.landmarkHeader span {
    padding: 0 15px;
    background: #fff;
}

.openHelpModal {
    background-color: #2196F3;
    float: right;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 6px 8px #888888;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.landmarkSection {
    display: flex;
    flex-direction: column;
}

.droppableField {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}