.statisticsContainer {
    display: flex;
}

.extraStats {
    box-shadow: 0 0 3px #888;
    border-top: 10px solid rgba(9, 130, 255, 0.52);
    min-height: 250px;
    padding: 10px;
    margin-right: 200px;
}