.navItem {
  margin-left: 20px;
  margin-top: 20px;
}

.navItem:last-child {
  margin-bottom: 20px;
}

.navItem a {
  letter-spacing: .025em;
  font-weight: 400;
  cursor: pointer;
  color: #515253 !important;
}

.navItemIcon {
  float: left;
}

.navItemIconText {
  margin: -4px 0 0 10px;
  float: left;
}

.navItemIconText:hover {
  color: #23b7e5 !important;
  text-decoration: none;
}

.navItemIconText:focus {
  text-decoration: none;
}

.navItem > a:hover {
  color: #23b7e5 !important;
}

.navItem.itemModule,
.navItem {
  width: 92%;
}

.menuTitle {
  pointer-events: none;
  cursor: none;
  float: left;
  padding-left: 20px;
  padding-top: 25px;
}

.menuTitle a span {
  color: #919da8;
  font-size: 13px;
  letter-spacing: .035em;
}

.menuTitle a {
  padding: 0 !important;
}

.module {
  padding: 5px 5px;
}

.collapse div:first-child {
  padding-top: 35px;
}

.collapse {
  /*margin-left: 25px;*/
}

.test {
  margin-top: 40px;
}