@import url('https://fonts.googleapis.com/css?family=Questrial|Righteous');

.header {
    height: 600px;
    width: 100%;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
    font-family: 'Righteous', sans-serif;
}

.tptext {
    margin: 20px auto 0 auto;
    font-size: 65px;
}

.headerText {
    display: flex;
    flex-direction: column;
}

.compare {
    width: 555px;
    margin: 15px auto 0 auto;
}

.text1, .main p, .comingSoon {
    font-family: 'Questrial', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.comingSoon {
    font-weight: bold;
}

.text1 {
    margin-top: 40px;
}

.main p {
    font-size: 20px;
}

.controlLabel {
    margin-top: 20px;
    font-size: 23px;
}

.startNow {
    background-color: #e86a6c;
    margin: 31px auto 0 auto;
    color: #fff;
    border: none;
    font-size: 35px;
}

.startNow:hover, .startNow:focus {
    background-color: #bc5e5e;
    color: #ffffff;
}

.buttonDiv {
    display: flex;
    font-family: 'Questrial', sans-serif;
}

.main {
    margin: 100px;
}

.turnLandscape {
    width: 300px;
    height: 200px;
    background: rgba(0, 0, 0, 0.73);
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;
    margin: 1% auto;
    border: 1px solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.turnLandscape span {
    color: #ffffff;
    margin: 0 auto 0 auto;
}

.rotateLandscape {
    margin-left: 75px;
    height: 150px;
    width: 150px;
}

@media only screen and (min-width: 500px) {

    .turnLandscape {
        display: none;
    }

    .landmarks {
        margin-right: 80px;
    }
}

.footer {
    height: 140px;
    width: 100%;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
    font-family: 'Questrial', sans-serif;
    bottom: 0;
    position: relative;
    text-align: center;
}

.disclaimer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.contact {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    font-size: 30px;
}