@import "../../../../../../node_modules/react-day-picker/lib/style.css";

.DayPicker-Day.DayPicker-Day--disabled {
  color: #929292;
}

.DayPicker-Month {
  width: 100%;
}

.DayPicker-Caption {
  margin-bottom: 25px;
}

.DayPicker {
  width: 95%;
}