.navbar {
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  z-index: 10;
  padding: 0 15px;
  height: 60px;
  border: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  color: #FFFFFF !important;
}

.navbar:first-child > div {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.barsIcon {
  left: 2%;
  color: white;
  cursor: pointer;
}

.brand {
  height: 70px;
  padding-left: 62px;
  padding-top: 0;
}

.navItem a {
  color: #FFFFFF !important;
}

.navItemIcon:hover {
  color: #454545;
}

.alertBadge {
  position: absolute;
  background-color: #f05050 !important;
  font-size: 75% !important;
  padding: 3px 4px !important;
  top: 5px;
  left: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.collapse {
  padding: 7px 0 !important;
  margin-right: 0;
}

.menuButton {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  margin-right: 16px;
  margin-top: 13px;
  float: right;
}

.popover > div:first-child {
  display: none;
}

.popover {
  margin-top: 0 !important;
  border-radius: 0;
  width: 200px;
}

@media ( max-width: 767px ) {
  .collapse {
    display: none;
  }

  .brand {
    padding-left: 15px;
  }
}

@media ( min-width: 767px ) {
  .menuButton {
    display: none;
  }
}