.popover {
  margin-top: 3px !important;
  font-family: Source Sans Pro,sans-serif;
  border-radius: 3px;
  padding: 0;
  margin-left: -50px;
  max-width: 310px;
}

.popover > div:first-child {
  margin-left: 40px !important;
}

.popover h3 {
  padding: 2px 14px;
  border-radius: 0;
  border-top: 5px solid #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.popover a {
  display: flex;
  text-decoration: none;
}

.popover a:first-child {
  padding-top: 15px;
}

.popover a:last-child {
  padding-bottom: 9px;
}

.popover a:not(:first-child) {
  padding-top: 10px;
}

.popover a:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.popover a:hover {
  background-color: #ebebeb;
}

.popover > div:last-child {
  padding: 0;
}

.btnGroup {
  width: 100%;
}

.btnMarkAll,
.btnViewAll {
  width: 50%;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #f9f9f9;
  outline: none;
  text-transform: uppercase;
}

.btnMarkAll:focus,
.btnViewAll:focus {
  outline: none;
}

.btnMarkAll:hover,
.btnViewAll:hover {
  outline: none;
  background-color: #e8e8e8;
}

.btnMarkAll {
  border-right: 1px solid #ccc;
}

.btnViewAll {
  border-left: 1px solid #ccc;
}