.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landmarkList {
    margin-top: 5px;
}

.extraInfo {
    margin-top: 40px;
}

.searchButtons {
    margin-bottom: 30px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.advanced {
    margin-top: 50px;
}