.appContainer {
  display: flex;
  flex-direction: column;
  font-family: Source Sans Pro,sans-serif;
}

.container {
  display: flex;
  margin: 20px;
}

.portraits {

}

.landmarks {
  margin-left: 5%;
  width: 60%;
}