.next, .submit, .notApplicable {
    margin-top: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 6px 8px #888888;
    border: none;
}

.notApplicable {
    background-color: #F44336;
}

.submit {
    float: right;
    background-color: #4CAF50;
}

.submit span {
    margin-left: -6px;
}

.next {
    background-color: #2196F3;
    float: right;
}

.helper {
    display: flex;
    flex-direction: column;
}

.portraits, .helper img {
    z-index: 10;
    margin-right: 5%;
}

.pageTrack {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
}

.more {
    margin: -30px auto 0 auto;
    z-index: 10;
}